<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map UserVer</title>
    <script src="src/Javascript/jquery-3.1.1.min.js"></script>
    <link href="src/CSS/style.css" type="text/css" rel="stylesheet">
    <!--     <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <script src="src/Javascript/script.js"></script>
    <link rel="stylesheet" href="src/CSS/style2.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <div class="page">
        <header>
            <span class="toggle-button">
                <div class="menu-bar menu-bar-top"></div>
                <div class="menu-bar menu-bar-middle"></div>
                <div class="menu-bar menu-bar-bottom"></div>
            </span>
            <div class="menu-wrap">
                <div class="menu-sidebar">
                    <h1>Google Map</h1>

                    <div id="request-add">
                        <!-- 阻止form默认的提交事件 -->
                        <form class="form-wrapper cf" v-on:submit.prevent>
                            <input v-model="location" type="text" placeholder="请输入目标城市地点" required>
                            <!-- 将输入的地点信息传入 requestMade 类中的 location 属性 -->
                            <input v-model="type" type="text" placeholder="目标地点类型" required>
                            <!-- 将输入的类型信息传入 requestMade 类中的 type 属性 -->
                            <button type="submit" v-on:click="getData">Search</button>
                            <!-- 点击按钮时，调用 getData 方法 -->
                        </form>
                    </div>
                    <div id="mapData-present">
                        <transition name="slide-fade">
                            <!-- 数据变动时，调用 slide 相关动画类 -->
                            <ul class="form-wrapper" v-if="inputStatus">
                                <!-- 如果 listview 类中的 inputStatus 为 false 时，默认不显示该列表 -->
                                <transition-group name="list" tag="p">
                                    <!-- 数据变动时，调用 list 相关动画类 -->
                                    <li v-for="(value,index) in elements" v-bind:key="value" class="listView">
                                        <!-- 将 listview 类中的 element 数组用 v-for 方法循环呈现在HTML中 -->
                                        <p v-on:click="clicked(index)">{{value}}
                                            <!-- 点击时，调用 listview 类中的 clicked 方法，并传入当前项的 index（序号） -->
                                        </p>
                                    </li>
                                </transition-group>
                            </ul>
                        </transition>
                    </div>
                </div>
            </div>
        </header>

        <div id="mapView" class="page__map"></div>
    </div>

    <script src="src/Javascript/vue.js"></script>
    <script src="src/Javascript/app.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyApmoY54_QVp80zMhBn6K9phNui_6SbpL0&v=3&callback=initMap"
        onerror="googlemapError()">
    </script>
</body>

</html>